.all__conter{
  width: 50%;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.btn_onIncrement {
  width: 60px;
  height: 60px;
  border: none;
  font-size: 33px;
  margin: 5px;
  color: white;
  border-radius: 5px;
  background-color: rgb(93, 167, 93);
}

.btn_decrement {
  width: 60px;
  font-size: 33px;
  border: none;
  margin: 5px;
  height: 60px;
  color: white;
  border-radius: 5px;
  background-color: rgb(222, 48, 48);
}

.rowCounter {
  display: flex;
  align-items: center;

}

.counterText{
  margin: 5px;
  font-size: 25px;
  font-weight: bolder;
}

.counterTotal{
  margin: 5px;
  font-size: 25px;
  font-weight: bolder;
}